<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Post</title>
</head>
<body>
    <%- include("partials/header.ejs")  %>

    <h1>Edit Post</h1>
    <form action="/edit/<%= post.id %>" method="POST">
        <h3 class="title-edit">Title:</h3>
        <input type="text" class="feedback-input" id="title" name="title" value="<%= post.title %>" required>

        <h3 class="title-edit">Content:</h3>
        <textarea id="content" class="feedback-input" name="content" required><%= post.content %></textarea>

        <button type="submit">Update Post</button>
    </form>
    <%- include("partials/footer.ejs")  %>
</body>
</html>
